@font-face {
    font-family: APL;
    src: local("APL385 Unicode"), url("../fonts/APL385/apl385.ttf");
}

.example {
    font-variant-caps: all-small-caps;
}

.language-APL, .language-apl {
    font-family: APL !important;
    line-height: 1.2em !important;
}
.language-nonAPL, .language-nonapl {
    font-family: 'Courier New', Courier, monospace;
}

code, .command, .Dyalog {
    font-family: APL;
}
.md-typeset code { 
    font-size: 120%;
    background: none!important;
 }

.md-preset pre {
    background: none!important;
}

.md-logo>img {
    width: 7rem !important;
    height: 1.2rem !important;
}

@media screen and (max-width: 76.1875em) {
    .md-logo>img {
        width: 10rem !important;
        height: 1.8rem !important;
    }
}

/* Custom colors */
:root {
    --md-primary-fg-color: #FF6A13;
    --md-primary-fg-color--dark: #563336;
    --md-default-bg-color: #F8F8F8;
    --md-code-hl-number-color: #797979;
}

/* Reduce vertical table spacing, and put in a faint cell border */
table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #eee;
    padding: 4px !important;
    text-align: left;
}

/* Style the heading container for the Language Reference */
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6A13;
    padding: 5px 10px; /* Adjusted padding for less vertical whitespace */
    border-radius: 5px; /* Rounded corners */
    font-size: 0.9em;
}

/* Style the left-aligned name */
.name {
    flex-grow: 1;
    /* Take up available space */
    color: white;
}

/* Style the right-aligned command */
.command {
    text-align: right;
    color: white;
    font-family: APL;
}

/* Compress lists a bit vertcially */
li {
    margin-bottom: 0px !important; 
}

/* Code copy only input (see CONTRIBUTING.md) */
pre+pre>button,
pre+hr {
    display: none !important;
}

pre>code {
    padding-bottom: 1em !important;
}

hr+pre>button {
    top: -0.2em !important;
}

pre+pre,
hr+pre {
    margin-top: -1.8em !important;
}

pre+pre>code,
hr+pre>code {
    padding-top: 0.2em !important;
}

/* Admonition styles */
  /* Admonition icon SVGs */
:root {
    --md-admonition-icon--note: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm9 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.92 6.085c.081-.16.19-.299.34-.398.145-.097.371-.187.74-.187.28 0 .553.087.738.225A.613.613 0 0 1 9 6.25c0 .177-.04.264-.077.318a.956.956 0 0 1-.277.245c-.076.051-.158.1-.258.161l-.007.004a7.728 7.728 0 0 0-.313.195 2.416 2.416 0 0 0-.692.661.75.75 0 0 0 1.248.832.956.956 0 0 1 .276-.245 6.3 6.3 0 0 1 .26-.16l.006-.004c.093-.057.204-.123.313-.195.222-.149.487-.355.692-.662.214-.32.329-.702.329-1.15 0-.76-.36-1.348-.863-1.725A2.76 2.76 0 0 0 8 4c-.631 0-1.155.16-1.572.438-.413.276-.68.638-.849.977a.75.75 0 1 0 1.342.67z"/></svg>');
    /* ↑ temporary generic note until notes have been replaced by specific note types below */
    --md-admonition-icon--hint: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm9 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.92 6.085c.081-.16.19-.299.34-.398.145-.097.371-.187.74-.187.28 0 .553.087.738.225A.613.613 0 0 1 9 6.25c0 .177-.04.264-.077.318a.956.956 0 0 1-.277.245c-.076.051-.158.1-.258.161l-.007.004a7.728 7.728 0 0 0-.313.195 2.416 2.416 0 0 0-.692.661.75.75 0 0 0 1.248.832.956.956 0 0 1 .276-.245 6.3 6.3 0 0 1 .26-.16l.006-.004c.093-.057.204-.123.313-.195.222-.149.487-.355.692-.662.214-.32.329-.702.329-1.15 0-.76-.36-1.348-.863-1.725A2.76 2.76 0 0 0 8 4c-.631 0-1.155.16-1.572.438-.413.276-.68.638-.849.977a.75.75 0 1 0 1.342.67z"/></svg>');
    --md-admonition-icon--info: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm9 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.92 6.085c.081-.16.19-.299.34-.398.145-.097.371-.187.74-.187.28 0 .553.087.738.225A.613.613 0 0 1 9 6.25c0 .177-.04.264-.077.318a.956.956 0 0 1-.277.245c-.076.051-.158.1-.258.161l-.007.004a7.728 7.728 0 0 0-.313.195 2.416 2.416 0 0 0-.692.661.75.75 0 0 0 1.248.832.956.956 0 0 1 .276-.245 6.3 6.3 0 0 1 .26-.16l.006-.004c.093-.057.204-.123.313-.195.222-.149.487-.355.692-.662.214-.32.329-.702.329-1.15 0-.76-.36-1.348-.863-1.725A2.76 2.76 0 0 0 8 4c-.631 0-1.155.16-1.572.438-.413.276-.68.638-.849.977a.75.75 0 1 0 1.342.67z"/></svg>');
    --md-admonition-icon--warning: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm9 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.92 6.085c.081-.16.19-.299.34-.398.145-.097.371-.187.74-.187.28 0 .553.087.738.225A.613.613 0 0 1 9 6.25c0 .177-.04.264-.077.318a.956.956 0 0 1-.277.245c-.076.051-.158.1-.258.161l-.007.004a7.728 7.728 0 0 0-.313.195 2.416 2.416 0 0 0-.692.661.75.75 0 0 0 1.248.832.956.956 0 0 1 .276-.245 6.3 6.3 0 0 1 .26-.16l.006-.004c.093-.057.204-.123.313-.195.222-.149.487-.355.692-.662.214-.32.329-.702.329-1.15 0-.76-.36-1.348-.863-1.725A2.76 2.76 0 0 0 8 4c-.631 0-1.155.16-1.572.438-.413.276-.68.638-.849.977a.75.75 0 1 0 1.342.67z"/></svg>');
    --md-admonition-icon--legacy: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m23 19-3-3v2h-4v2h4v2l3-3m-10 0c0-.3 0-.7.1-1H6v-2h7.8c.5-.8 1.1-1.5 1.9-2H6v-2h12v1.1c.3-.1.7-.1 1-.1s.7 0 1 .1V8l-6-6H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h7.8c-.5-.9-.8-1.9-.8-3m0-15.5L18.5 9H13V3.5Z"/></svg>');
    --md-admonition-icon--linux: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m23 19-3-3v2h-4v2h4v2l3-3m-10 0c0-.3 0-.7.1-1H6v-2h7.8c.5-.8 1.1-1.5 1.9-2H6v-2h12v1.1c.3-.1.7-.1 1-.1s.7 0 1 .1V8l-6-6H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h7.8c-.5-.9-.8-1.9-.8-3m0-15.5L18.5 9H13V3.5Z"/></svg>');
    --md-admonition-icon--unix: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m23 19-3-3v2h-4v2h4v2l3-3m-10 0c0-.3 0-.7.1-1H6v-2h7.8c.5-.8 1.1-1.5 1.9-2H6v-2h12v1.1c.3-.1.7-.1 1-.1s.7 0 1 .1V8l-6-6H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h7.8c-.5-.9-.8-1.9-.8-3m0-15.5L18.5 9H13V3.5Z"/></svg>');
    --md-admonition-icon--macos: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m23 19-3-3v2h-4v2h4v2l3-3m-10 0c0-.3 0-.7.1-1H6v-2h7.8c.5-.8 1.1-1.5 1.9-2H6v-2h12v1.1c.3-.1.7-.1 1-.1s.7 0 1 .1V8l-6-6H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h7.8c-.5-.9-.8-1.9-.8-3m0-15.5L18.5 9H13V3.5Z"/></svg>');
    --md-admonition-icon--windows: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m23 19-3-3v2h-4v2h4v2l3-3m-10 0c0-.3 0-.7.1-1H6v-2h7.8c.5-.8 1.1-1.5 1.9-2H6v-2h12v1.1c.3-.1.7-.1 1-.1s.7 0 1 .1V8l-6-6H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h7.8c-.5-.9-.8-1.9-.8-3m0-15.5L18.5 9H13V3.5Z"/></svg>');
}
  /* Colours */ 
:root {
    --md-admonition-color-note: #FF6A13;
    --md-admonition-color-hint: #FF6A13;
    --md-admonition-color-info: #FF6A13;
    --md-admonition-color-warning: #CA2E51;
    --md-admonition-color-legacy: #FF6A13;
    --md-admonition-color-linux: #FF6A13;
    --md-admonition-color-unix: #FF6A13;
    --md-admonition-color-macos: #FF6A13;
    --md-admonition-color-windows: #FF6A13;
}

  /* Generic */
.md-typeset .admonition {
	border-width: 0 0 0 3px;
    border-radius: 0;
    box-shadow: none;
    font-size: inherit;
}
.md-typeset .admonition .admonition-title {
	background: none;
}
  /* NOTE */
  .md-typeset .admonition.note .admonition-title::before {    
    background-color: var(--md-admonition-color-note);
    -webkit-mask-image: var(--md-admonition-icon--note);
            mask-image: var(--md-admonition-icon--note);
}
.md-typeset .admonition.note .admonition-title {
    color: var(--md-admonition-color-note);
}
.md-typeset .admonition.note {
	border-color: var(--md-admonition-color-note);
}
  /* HINT */
.md-typeset .admonition.hint .admonition-title::before {    
    background-color: var(--md-admonition-color-hint);
    -webkit-mask-image: var(--md-admonition-icon--hint);
            mask-image: var(--md-admonition-icon--hint);
}
.md-typeset .admonition.hint .admonition-title {
    color: var(--md-admonition-color-hint);
}
.md-typeset .admonition.hint {
	border-color: var(--md-admonition-color-hint);
}
  /* INFO */
  .md-typeset .admonition.info .admonition-title::before {    
    background-color: var(--md-admonition-color-info);
    -webkit-mask-image: var(--md-admonition-icon--info);
            mask-image: var(--md-admonition-icon--info);
}
.md-typeset .admonition.info .admonition-title {
    color: var(--md-admonition-color-info);
}
.md-typeset .admonition.info {
	border-color: var(--md-admonition-color-info);
}
  /* WARNING */
  .md-typeset .admonition.warning .admonition-title::before {    
    background-color: var(--md-admonition-color-warning);
    -webkit-mask-image: var(--md-admonition-icon--warning);
            mask-image: var(--md-admonition-icon--warning);
}
.md-typeset .admonition.warning .admonition-title {
    color: var(--md-admonition-color-warning);
}
.md-typeset .admonition.warning {
	border-color: var(--md-admonition-color-warning);
}
  /* LEGACY */
  .md-typeset .admonition.legacy .admonition-title::before {    
    background-color: var(--md-admonition-color-legacy);
    -webkit-mask-image: var(--md-admonition-icon--legacy);
            mask-image: var(--md-admonition-icon--legacy);
}
.md-typeset .admonition.legacy .admonition-title {
    color: var(--md-admonition-color-legacy);
}
.md-typeset .admonition.legacy {
	border-color: var(--md-admonition-color-legacy);
}
  /* LINUX */
  .md-typeset .admonition.linux .admonition-title::before {    
    background-color: var(--md-admonition-color-linux);
    -webkit-mask-image: var(--md-admonition-icon--linux);
            mask-image: var(--md-admonition-icon--linux);
}
.md-typeset .admonition.linux .admonition-title {
    color: var(--md-admonition-color-linux);
}
.md-typeset .admonition.linux {
	border-color: var(--md-admonition-color-linux);
}
  /* UNIX */
  .md-typeset .admonition.unix .admonition-title::before {    
    background-color: var(--md-admonition-color-unix);
    -webkit-mask-image: var(--md-admonition-icon--unix);
            mask-image: var(--md-admonition-icon--unix);
}
.md-typeset .admonition.unix .admonition-title {
    color: var(--md-admonition-color-unix);
}
.md-typeset .admonition.unix {
	border-color: var(--md-admonition-color-unix);
}
  /* MACOS */
  .md-typeset .admonition.macos .admonition-title::before {    
    background-color: var(--md-admonition-color-macos);
    -webkit-mask-image: var(--md-admonition-icon--macos);
            mask-image: var(--md-admonition-icon--macos);
}
.md-typeset .admonition.macos .admonition-title {
    color: var(--md-admonition-color-macos);
}
.md-typeset .admonition.macos {
	border-color: var(--md-admonition-color-macos);
}

  /* WINDOWS */
.md-typeset .admonition.windows .admonition-title::before {    
    background-color: var(--md-admonition-color-windows);
    -webkit-mask-image: var(--md-admonition-icon--windows);
            mask-image: var(--md-admonition-icon--windows);
}
.md-typeset .admonition.windows .admonition-title {
    color: var(--md-admonition-color-windows);
}
.md-typeset .admonition.windows {
	border-color: var(--md-admonition-color-windows);
}
